@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');
body {
    background-color: dimgray;
    color: white;
}

h1 {
    font-family: monospace;
    text-align: center;
}

p {
    font-family: 'Nanum Gothic Coding', monospace;
}

#header {
    text-align: center;
}

#banner {
    max-width: 100%;
}