@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
    background-color: midnightblue;
}

#main {
    background-color: darkgray;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    margin: 0px 200px;
    padding: 10px;
    border-radius: 10px;
}

#main2 {
    background-color: darkgray;
    text-align: left;
    font-family: 'Slabo 27px', serif;
    margin: 0px 200px;
    padding: 10px;
    border-radius: 10px;
}