@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
    background-color: dimgray;
}

#main {
    background-color: white;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    margin: 0px 200px;
    padding: 20px;
    border-radius: 10px;
}

#main2 {
    background-color: white;
    text-align: left;
    font-family: 'Slabo 27px', serif;
    margin: 0px 200px;
    padding: 20px;
    border-radius: 10px;
}

input[type=text] {
    width: 98.8%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

input[type=submit] {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}