img {
    width: 30%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}

.col-4 {
    width: 33.33%;
}

@media only screen and (max-width: 600px) {
    .col-4 {
        width: 100%;
    }
}