@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway&display=swap');
body {
    background-color: #5A3E2A;
    color: antiquewhite;
}

header {
    font-family: 'Quicksand', sans-serif;
}

main {
    font-family: 'Raleway', sans-serif;
    border: 1px solid antiquewhite;
    margin: 0px 50px;
    padding: 20px;
    border-radius: 10px;
}

a, a:visited {
    color: #00AAFF
}

a:hover {
    color: white;
}

input[type=text], input[type=password] {
    width: 99%;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

textarea {
    width: 99%;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

input[type=submit] {
    width: 100%;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

img {
    width: 150px;
    height: 220px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    text-align: center;
}

.col-4 {
    width: 31.4%;
}

.col-6 {
    width: 48%;
}

.col-12 {
    width: 99%;
}

@media only screen and (max-width: 500px) {
    .col-4 {
        width: 100%;
    }
}