img {
    /*width: 30%;*/
    width: 150px;
    vertical-align: bottom;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}

.col-4 {
    width: 33.33%;
}

@media only screen and (max-width: 500px) {
    .col-4 {
        width: 100%;
    }
}